<p id="notice"><%= notice %></p>
<center>
<h1>Listing Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>

        <td><%= account.transaction_name %></td>
        <td><%= account.amount %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p> Your balance is <%= number_to_currency(@total_amount)%>  </p>
<p> Your number of transactions are <%= @transaction_number %></p>
<p> Account Status: <%= @account_status %></p>
<img src= <%= @mood_image %> style="width:400px"></img>
<br>
<%= link_to 'New Account', new_account_path %>
</center>
